<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>MostrarPortafolio</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MostrarPortafolio</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.MostrarPortafolio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortafolioAdmin</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.PortafolioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExperienciaAdmin</servlet-name>
        <servlet-class>cl.unab.portafolio.controlador.ExperienciaAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarPortafolio</servlet-name>
        <url-pattern>/MostrarPortafolio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortafolioAdmin</servlet-name>
        <url-pattern>/PortafolioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExperienciaAdmin</servlet-name>
        <url-pattern>/ExperienciaAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
